.beta-red {
    .nav-primary {
        background-color: $red;
        border-top: 4px solid $red-dark;
    }

    .nav-primary > li:hover > a,
    .nav-primary .current-menu-item > a {
        background-color: $red-dark;
    }

    .nav-primary .sub-menu a:hover {
        background-color: #fff;
    }
    .home-featured {
        background-color: lighten($color, 45%);
    }
    .before-footer {
        background-color: $color;
        .simple-social-icons ul li {
            a {
                background-color: $color-dark !important;
                border: 2px solid $color-dark !important;
            }
        }
        .simple-social-icons ul li a:hover {
            color: $color-dark !important;
            background-color: lighten($color, 45%) !important;
        }
    }
}