
.site-footer {
    background-color: #333;
    color: #999;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 40px 0;
    padding: 4rem 0;
    text-align: center;
}

.site-footer a {
    color: #ccc;
}

.site-footer a:hover {
    color: #fff;
}

.site-footer p {
    margin-bottom: 0;
}
