//Color Variables

$dark: #333;

$color: #3498db;
$color-dark: #2980b9;

$midnight: #34495e;
$midnight-dark: #2c3e50;

$sea: #1abc9c;
$sea-dark: #16a085;

$green: #2ecc71;
$green-dark: #27ae60;

$orange: #e67e22;
$orange-dark: #d35400;

$purple: #9b59b6;
$purple-dark: #8e44ad;

$red: #e74c3c;
$red-dark: #c0392b;

$yellow: #f1c40f;
$yellow-dark: #f39c12;

$font-sans: 'Open Sans', sans-serif;